{
  "pdfsDir": "PDF_summery",
  "anthropic": {
    "url": "https://api.anthropic.com/v1/complete",
    "key": "sk-ant-XXX",
    "model": "claude-sonnet-4-20250514",
    "temperature": 1,
    "maxTokens": 20000,
    "topP": 1,
    "thinking": {
      "type": "enabled",
      "budget_tokens": 10000
    }
  },
  "extractionPromptPath": "prompts/extraction.txt",
  "validationPromptPath": "prompts/validation.txt"
}