/n8n_data/*
/n8n_io/out/*
/n8n_io/in/*

# Keep the README files
!/n8n_data/README.md
!/n8n_io/out/README.md
!/n8n_io/in/README.md

/n8n_io/config.json
/n8n_io/PDF_summery/Full-report-venues-post-games-use.pdf_chunked/*
/n8n_io/.venv/
